* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 1.0rem;
}

body {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}

.main-content {
  padding-bottom: 60px;
  /* Footer height + some extra space */
  min-height: 70vh;
  /* Full height minus footer */
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.member {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.member:first-child {
  margin: 0;
}

.member>label {
  font-size: 1.0rem;
  flex-grow: 1;
}

.member:focus,
.member:hover {
  color: green;
  outline: none;
}

.addForm {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
  flex-wrap: nowrap;
}

.addForm label {
  position: absolute;
  left: -99999px;
}

.addForm input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 24px;
  font-size: 1.0rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

.action-icon {
  width: 30px;
  height: 30px;
  min-width: 30px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 0.75rem;
  cursor: pointer;
  outline: none;
}

.icon-container {
  display: flex;
  gap: 8px;
  margin-left: auto
}

.edit-icon {
  color: blue;
  font-size: 24px;
  margin-left: 10px;
}

.edit-icon:focus,
.edit-icon:hover {
  color: rgb(111, 190, 216);
}

.trash-icon {
  color: black;
  font-size: 24px;
  margin-left: 10px;
}

.trash-icon:focus,
.trash-icon:hover {
  color: rgba(75, 74, 74, 0.329);
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: px;
  font-size: 1.0rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}